[user]
    email = christoph@zelinski.de
    name = gaunah
[alias]
    lg = log --graph --pretty=format:'%Cred%h%Creset %an -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
    co = checkout
[push]
    default = simple
[color]
    ui = always
[merge]
    tool = meld
[commit]
    template = ~/.gitmessage
[pull]
    ff = only
[core]
    pager = perl /usr/share/git/diff-highlight/diff-highlight | less
